# proxy=${HTTP_PROXY} # enabe it only when necessary
# https_proxy=${HTTPS_PROXY} # enabe it only when necessary
registry="https://registry.npm.taobao.org/"
# registry="https://r.cnpmjs.org/"
sass_binary_site="https://npm.taobao.org/mirrors/node-sass/"
electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron_builder_binaries_mirror="https://npm.taobao.org/mirrors/electron-builder-binaries/"
phantomjs_cdnurl="https://npm.taobao.org/mirrors/phantomjs/"
# sharp
sharp_dist_base_url="https://npm.taobao.org/mirrors/sharp-libvips/"
npm_config_sharp_dist_base_url="https://npm.taobao.org/mirrors/sharp-libvips/"
# node
disturl="https://npm.taobao.org/mirrors/node/"
# extras
puppeteer_download_host="https://npm.taobao.org/mirrors/"
sentrycli_cdnurl="https://npm.taobao.org/mirrors/sentry-cli/"
sqlite3_binary_site="https://npm.taobao.org/mirrors/sqlite3/"
python_mirror="https://npm.taobao.org/mirrors/python/"
ignore-scripts=false
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=${FA_NPM_AUTH_TOKEN}
